
/* Borrowed from: https://tailwind-elements.com/ */ 
.nav-pills .nav-link {
    background: #f3f4f6;
    color: #4b5563;
    box-shadow: none
}

.nav-pills .nav-link.active {
    background: #2563eb;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,6%)
}

.nav-pills .show>.nav-link {
    background: #2563eb;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,6%)
}

.nav-pills .disabled {
    color: #9ca3af;
    background-color: rgba(243,244,246,.5)
}

.nav-pills.menu-sidebar .nav-link {
    background-color: transparent;
    box-shadow: none;
    padding: 0 5px;
    border-radius: 0
}

.nav-pills.menu-sidebar .nav-link.active {
    color: #1266f1;
    font-weight: 600;
    border-left: .125rem solid #1266f1
}
